### Notification Data Analysis Overview
In this project, we analyze notification timings, measure user engagement, compare app performances, and examine delivery-response patterns.

In [1]:
import pandas as pd
df = pd.read_csv('notifications_pushe.csv')
df

       action  application_id  interaction_time  notification_id  user_id
0           F               1           4489200               79      665
1           F               1           4489200               79     6280
2           F               1           4388400               78    14774
3           F               1           4410000               78     3152
4           C               1           4410000               72     3633
...       ...             ...               ...              ...      ...
140723      F               0            993600               13    14760
140724      F               0            928800               13     2096
140725      F               0            900000               13    11308
140726      F               0            885600               13     5975
140727      F               0            907200               13    15272

[140728 rows x 5 columns]

In [2]:
import datetime 
from datetime import timedelta
my_time = datetime.datetime(2019,6,1)
df['date'] = df['interaction_time'].apply(lambda x:timedelta( seconds=x)+my_time)
df

,action,application_id,interaction_time,notification_id,user_id,date
0,F,1,4489200,79,665,2019-07-22 23:00:00
1,F,1,4489200,79,6280,2019-07-22 23:00:00
2,F,1,4388400,78,14774,2019-07-21 19:00:00
3,F,1,4410000,78,3152,2019-07-22 01:00:00
4,C,1,4410000,72,3633,2019-07-22 01:00:00
...,...,...,...,...,...,...
140723,F,0,993600,13,14760,2019-06-12 12:00:00
140724,F,0,928800,13,2096,2019-06-11 18:00:00
140725,F,0,900000,13,11308,2019-06-11 10:00:00
140726,F,0,885600,13,5975,2019-06-11 06:00:00
140727,F,0,907200,13,15272,2019-06-11 12:00:00

## App Performance Analysis

In this section, we calculate the click-through rate (CTR) of notifications for each application and identify the most successful app (the one with the highest CTR)

In [ ]:
# (app_id, success_rate)
df_copy=df.copy()
df_copy=df.groupby(['application_id'])['action'].apply(lambda x: x.value_counts())
df_copy

application_id  0
0               F    56534
                C     7044
1               F    40744
                C     9267
2               F    24911
                C     2228
Name: action, dtype: int64

In [4]:
import numpy as np
tuple_appid_successrate = []
m=0
a=[]
for i in range(3):
   m=df_copy[i][1]/(df_copy[i][1]+df_copy[i][0])
   a.append(m)
tuple_appid_successrate=(a.index(max(a)),max(a))
tuple_appid_successrate

C:\Users\Asus\AppData\Local\Temp\ipykernel_3836\901414353.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  m=df_copy[i][1]/(df_copy[i][1]+df_copy[i][0])

(1, np.float64(0.18529923416848293))

## Notification Performance Analysis

In this section, we aim to identify the most successful notification in terms of click-through rate (CTR) and determine on which day of the week it received the most clicks.

In [ ]:

week_days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

df2 = df.copy()
df2['action'] = df2['action'].apply(lambda x: 1 if x == 'C' else 0)
df2 = df2.groupby('notification_id').action.mean()
ind = df2.sort_values()[-1:].index.item()

df2 = df.copy()
df2['date'] = (df2['date'].apply(lambda x: x.weekday()))
df2['action'] = df2['action'].apply(lambda x: 1 if x == 'C' else 0)
day = df2[df2['notification_id'] == ind].groupby('date').sum()['action'].sort_values()[-1:].index.item()

tuple_notifid_day = (ind, week_days[day])
tuple_notifid_day

(99, 'Wednesday')

### Click Rate Analysis by Day of the Month

In [ ]:
# (day, click rate)
dayrate=df.copy()
dayrate['Day'] = dayrate['date'].apply(lambda time: time.day)
dayrate
dayrate2=dayrate.groupby(['Day'])['action'].apply(lambda x: x.value_counts())
dayrate2

Day  1
1    F     442
     C     120
2    F    4479
     C     392
3    F    1093
          ...
29   C     263
30   F    4312
     C     383
31   F    1443
     C     315
Name: action, Length: 62, dtype: int64

In [7]:
m=0
c=[]
for i in range(1,31):
   m=dayrate2[i][1]/(dayrate2[i][1]+dayrate2[i][0])
   c.append(m)
print(c)
tuple_day_rate=(c.index(max(c))+1,max(c))
tuple_day_rate

[np.float64(0.21352313167259787), np.float64(0.08047628823650174), np.float64(0.19573215599705665), np.float64(0.17340720221606648), np.float64(0.26052009456264774), np.float64(0.12093023255813953), np.float64(0.15551235767842267), np.float64(0.10915307732772225), np.float64(0.10052040536839223), np.float64(0.09608138658628486), np.float64(0.08961124533274764), np.float64(0.1767979002624672), np.float64(0.17639827904118008), np.float64(0.12720788043478262), np.float64(0.145578231292517), np.float64(0.13790212721366446), np.float64(0.14666666666666667), np.float64(0.11991001124859392), np.float64(0.12464838255977496), np.float64(0.08282492142725088), np.float64(0.1379980563654033), np.float64(0.26486013986013984), np.float64(0.13783849719443766), np.float64(0.09918994875185981), np.float64(0.1521030575818718), np.float64(0.13976490825688073), np.float64(0.11260697140471718), np.float64(0.15332219509060532), np.float64(0.11762075134168157), np.float64(0.08157614483493078)]

C:\Users\Asus\AppData\Local\Temp\ipykernel_3836\1891282127.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  m=dayrate2[i][1]/(dayrate2[i][1]+dayrate2[i][0])

(22, np.float64(0.26486013986013984))

In [8]:
df

,action,application_id,interaction_time,notification_id,user_id,date
0,F,1,4489200,79,665,2019-07-22 23:00:00
1,F,1,4489200,79,6280,2019-07-22 23:00:00
2,F,1,4388400,78,14774,2019-07-21 19:00:00
3,F,1,4410000,78,3152,2019-07-22 01:00:00
4,C,1,4410000,72,3633,2019-07-22 01:00:00
...,...,...,...,...,...,...
140723,F,0,993600,13,14760,2019-06-12 12:00:00
140724,F,0,928800,13,2096,2019-06-11 18:00:00
140725,F,0,900000,13,11308,2019-06-11 10:00:00
140726,F,0,885600,13,5975,2019-06-11 06:00:00
140727,F,0,907200,13,15272,2019-06-11 12:00:00